<html lang="en">

<head>
    <title>Index</title>
    <meta charset="UTF-8">
</head>

<body>
<h1 style="color: red;margin-left: 50px">
    {{.title}}
</h1>
<br>
<b style="margin-left: 50px">{{.Unix |formatAsDate}}</b>
</body>
</html>