<html lang="en">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
</head>

<body>
<div>
    <h1 style="color: red; text-align:center;margin:11% 33.3% 0 33.3%;">
        {{.title}}
    </h1>
    <p style="color: green;text-align:center;padding:20px">Login: {{.Unix |formatAsDate}}</p>
</div>

</body>
</html>