<html lang="en">

<head>
    <title>Index</title>
    <meta charset="UTF-8">
</head>

<body>
<h1 style="color: red;margin:50px 100px 100px 100px;">
    {{.title}}
</h1>
<br>
<b style="color: green;margin: 50px 100px 100px 100px;">{{.Unix |formatAsDate}}</b>
</body>
</html>